doctype html 
html 
    head    
        
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title My product
        link(rel='stylesheet' href='/css/style.css')
        script(src='https://cdn.plot.ly/plotly-2.32.0.min.js' charset="utf-8")

    body
        main.main This is an error detail page
            .timeStampStat(data-time = `${timeStamp}`)
            .requestInfo(data-request= `${latestErr.filteredReqObj}`)
            .errDetail_container
                .errDetail_errorTitle #{errTitle}
                .errDetail_errorTime 
                    .firstError First: #{firstToTimeDiff} ago, Date: #{firstDate}
                    .latestError Latest: #{latestToTimeDiff} ago, Date: #{latestDate}
                    .errorTotal Total: #{all.length}
                .errDetail_stackTrace 
                    .stackTraceTitle Stack Trace
                    .stackTitle #{errTitle}
                    .stackTrace Most Recent Call 
                        .firstTrace at (#{firstStack})
                        pre
                            each line in errCode
                                | #{line}
                                br
                        .otherTrace #{otherStack.length} non-project frames
                            .dropdown
                            button(onclick="toggleFrames()") Show/Hide Non-Project Frames
                            each line in otherStack 
                                .non-project-frame #{line}
                    .errorParams Params 
                        .req_h_userAgent #{latestErr}
        script.
            function toggleFrames() {
                var frames = document.getElementsByClassName('non-project-frame');
                for (var i = 0; i < frames.length; i++) {
                    if (frames[i].style.display === 'none') {
                        frames[i].style.display = 'block';
                    } else {
                        frames[i].style.display = 'none';
                    }
                }
            }
        script(src='/js/errorDetails.js' type="module")