extends template   

block content
    block sidebarContent 
        include setting_sidebar
        .main.p-3
            .project_owner(data-owner = `${accountName}`)
            .project_name(data-prjname = `${prjName}`)
            .project_ownerId(data-id = `${userId}`)
            .timeWindow(data-timewindow = `${projectRules.timeWindow}`)
            .quotaVal(data-quota = `${projectRules.quota}`)
            .setting_container
                .notifications_title Emails
                .notifications_description This page allow you to configure rules settings, you can view rules and select your preferences.
                .notifications_container 
                    .channel_column_container
                        .switch_description Enabled/Disabled Emails Notifications
                        if (projectRules.notification === 'on')
                            input.switch(checked="true" type="checkbox") 
                        else if (projectRules.notification === 'off')
                            input.switch(type="checkbox")            
                        .channel_title Notification Rules
                        hr
                        .rule_container
                            .rule_group_container 
                                .rule_set_container 
                                    .rule_name_description_container
                                        .rule_name New Error 
                                        .rule_description Send alert email whenever there is a new error
                                    if (projectRules.alertFirst === 'on')
                                        input.switch.new_error(checked="true" type="checkbox") 
                                    else if (projectRules.alertFirst === 'off')
                                        input.switch.new_error(type="checkbox") 
                                .rule_set_container
                                    .rule_name_description_container
                                        .rule_name Anomaly 
                                        .rule_description Set threshold to detect anamoly
                                        .anomaly_rule_window 
                                            .anomaly_options
                                                .anomaly_timewindow Time window setting
                                                    .anomaly_timewindow_description To set anomaly detection, you must choose a time window first
                                                select#windowDropdown
                                                    option(value="60") 1 minute
                                                    option(value="300") 5 minutes  
                                                    option(value="1800") 30 minutes
                                                    option(value="3600") 1 hour  
                                                    option(value="10800") 3 hours
                                            .anomaly_options
                                                .anomaly_quota Number of errors
                                                    .anomaly_quota_description During the set time window, if the number of the same error exceeds this value, an email will be sent to notify you and your team
                                                label(for='numberInput')
                                                input(type='number' id='numberInput' name='numberInput' class='quota' min='1' max='100' step='1' value= "1")
                                    if (projectRules.timeWindow === 'off')
                                        input.switch.anomaly(type="checkbox")
                                    else 
                                        input.switch.anomaly(checked="true" type="checkbox")
                                .rule_set_container
                                    .rule_name_description_container     
                                        .rule_name Error Reactivate
                                        .rule_description Send alert email when resolved error reactivate
                                    if (projectRules.reactivate === 'off')
                                        input.switch.reactivate(type="checkbox")
                                    else 
                                        input.switch.reactivate(checked="true" type="checkbox")
                        button.rules_save_btn Save    
                    
                            
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe' crossorigin='anonymous')
    script(src='/js/sidebar.js' type="module")
    script(src='/js/notificationEmailSettings.js' type="module")
    script(src='/js/logout.js' type="module")