doctype html
html 
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Settings
        link(href='https://cdn.lineicons.com/4.0/lineicons.css' rel='stylesheet')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ' crossorigin='anonymous')
        link(rel='stylesheet' href='/css/style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")

    body
        .wrapper
            aside#sidebar
                .d-flex
                    button.toggle-btn(type='button')
                        i.lni.lni-grid-alt
                    .sidebar-logo
                        a(href='#') NodeGuardian
                ul.sidebar-nav
                    li.sidebar-item
                        a.sidebar-link(href='#')
                            i.lni.lni-user
                            span Profile
                    li.sidebar-item
                        a.sidebar-link(href=`/a/${accountName}`)
                            i.lni.lni-agenda
                            span Dashboard
                    li.sidebar-item
                        a.sidebar-link.collapsed.has-dropdown(href='#' data-bs-toggle='collapse' data-bs-target='#auth' aria-expanded='false' aria-controls='auth')
                            i.lni.lni-radio-button
                            span Projects
                        ul#auth.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
                            each project in projectsArr
                                li.sidebar-item
                                    a.sidebar-link(href=`/a/${accountName}/prj/${project[0]}`) #{project[0]} 
                    li.sidebar-item
                        a.sidebar-link.collapsed.has-dropdown(href='#' data-bs-toggle='collapse' data-bs-target='#auth' aria-expanded='false' aria-controls='auth')
                            i.lni.lni-cog
                            span Project Settings
                        ul#auth.sidebar-dropdown.list-unstyled.collapse(data-bs-parent='#sidebar')
                            each project in projectsArr
                                li.sidebar-item
                                    a.sidebar-link(href=`/a/${accountName}/${project[0]}/settings/general`) #{project[0]}
                    .sidebar-footer
                        a.sidebar-link.logout_btn(href='#')
                            i.lni.lni-exit
                            span Logout

            .sidebar_container                
                .sidebar
                    .sidebar2_title #{prjName} Settings
                    .sidebar2_title.subtitle Basic Setup
                    ul
                        li(class='nav-item')
                            a(href=`/a/${accountName}/${prjName}/settings/general` class='nav-link') General
                        li(class='nav-item')
                            a(href=`/a/${accountName}/${prjName}/settings/members` class='nav-link') Members
                        li(class='nav-item')
                            a(href=`/a/${accountName}/${prjName}/settings/token` class='nav-link') Project Access Token
                        li(class='nav-item')
                            a(href=`/a/${accountName}/${prjName}/settings/notifications` class='nav-link') Notifications
            .main.p-3
                .setting_container
                    .project_owner(data-owner = `${accountName}`)
                    .project_name(data-prjname = `${prjName}`)
                    .project_ownerId(data-id = `${userId}`)
                    .members_title Members 
                    .members_description Users in Nodeguardian can access projects after you invite them to collaborate. Click the button below to send invitations via emails. After successful invitations, you can view and manage your team members in this setting page.
                    hr
                    .members_access_container  
                        .members_button_container
                            .members_access_title Users with access
                            button.add_users_btn Add/invite Users
                        each user in users
                            .members_container
                                img(src= '/img/default.jpg' class='user_img')
                                .members_name #{user.name}
                                .members_email #{user.email}
                    .add-users-window.hidden
                        .add-user-form
                            .value_contianer
                                .form_group_members
                                    label(for="projectName" class='members_window_title') Add or Invite users to the project
                                    p.members_description You can invite teammates below, your teammates should receive an email after submitting this form.
                                    input#userEmail(type="text" name="userEmail" placeholder="Add user email" required)
                                .btn_container
                                    .submit_button
                                        button#submit_add_members Submit
                                    .cancel_button 
                                        button.cancel_btn Cancel
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe' crossorigin='anonymous')
script(src='/js/sidebar.js' type="module")
script(src='/js/memberSettings.js' type="module")
script(src='/js/logout.js' type="module")