.sidebar_container                
            .sidebar
                .sidebar2_title #{prjName} Settings
                .sidebar2_title.subtitle Basic Setup
                ul
                    li(class='nav-item')
                        a(href=`/a/${accountName}/${prjName}/settings/general` class='nav-link') General
                    li(class='nav-item')
                        a(href=`/a/${accountName}/${prjName}/settings/members` class='nav-link') Members
                    li(class='nav-item')
                        a(href=`/a/${accountName}/${prjName}/settings/token` class='nav-link') Project Access Token
                    li(class='nav-item')
                        a(href=`/a/${accountName}/${prjName}/settings/notifications` class='nav-link') Notifications